* {
    padding: 0;
    margin: 0;
}

/* Font styling */

.inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.inter-thin {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.inter-extra-bold {
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

/* Homepage styling */

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    /* padding-top: 16px; */
}

/* .nav, */
.recipes-list {
    min-width: 500px;
    align-self: center;
}

.recipes-list {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    border: 2px solid #331D1D;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    font-size: 1.5em;
}

.recipes-list {
    box-shadow: 1px 1px 5px black;
    background-color: #E1B486;
    color: #331D1D;
}

.recipes-list li {
    list-style: none;
}

.recipes-list a {
    text-decoration: none;
    color: #331D1D;
}

.recipes-list a:hover,
.nav a:hover {
    color: #9F3434;
}

.container {
    background: #E1B486 url(images/table-background.jpg) center center / cover no-repeat fixed;
    min-height: 100vh;
}

.recipes-list ul li {
    box-sizing: border-box;
    border-top: 1px solid black;
    padding: 8px 4px;
}

.recipes-list ul li:last-child {
    border-bottom: 1px solid black;
}

.recipes-list h2 {
    font-size: 2em;
}


.recipes-list img {
    width: 200px;
    height: 200px;
    align-self: flex-end;
}

.image-credits {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 8px;
    color: #331D1D;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 4px 16px;
    position: sticky;
    top: 0;
}

.nav a {
    text-decoration: none;
    color: #E1B486;
    text-shadow: 2px 2px #331D1D;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h1.logo-text {
    color: #E1B486;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px #331D1D;
    font-size: 1.5em;
}

/* Recipes page style */

.recipes-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    border: 2px solid #331D1D;
    background-color: #E1B486;
    color: #331D1D;
    border-radius: 8px;
    padding: 16px 32px 40px 32px;
    gap: 16px;
}

.recipes-content h1 {
    font-weight: 900;
}

.recipes-content h2 {
    font-weight: 700;
}

.recipes-content img {
    align-self: center;
}

.recipes-content ul,
.recipes-content ol {
    padding-left: 0;
}

.recipes-content li {
    list-style: none;
    position: relative;
    padding-left: 1.5em;
}

.recipes-content ul li::before {
    content: "•";
    position: absolute;
    left: 0.3em;
}

.recipes-content ol {
    counter-reset: step;
}

.recipes-content ol li {
    counter-increment: step;
    position: relative;
    padding-left: 1.5em;
}

.recipes-content ol li::before {
    content: counter(step)".";
    position: absolute;
    left: 0;
}

.recipes-content h2 {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: 700;
}

.recipes-content p {
    font-size: 1em;
}

.recipes-content p::first-letter {
    margin-left: 0.5em;
}

.food-picture {
    width: 750px;
    border: 2px solid #331D1D;
}